.carousel {
    max-width: 800px;
    height:500px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.previous {
    position: absolute;
    left:0;
    cursor: pointer;
    margin-top: 250px;
}
.next {
    position: absolute;
    right:0;
    cursor:pointer;
    margin-top: 250px;
}